<script lang="ts">
  import { Col, Container, Image, Row } from "sveltestrap";
  import { State } from "../engine/GameContext";

  export let imgSrc = "ded.svg";
</script>

<div>
  <Container fluid>
    {#if $State.attacking.alive}
      <Row>
        <Col>{$State.attacking.name}</Col>
        <Col>HP: {$State.attacking.hp.cur}/{$State.attacking.hp.max}</Col>
      </Row>
      <Row>
        <Col />
        <Col>XP: {$State.attacking.xpValue}</Col>
      </Row>
    {/if}
    <Row>
      <Col><Image src="img/{imgSrc}" alt="thing" /></Col>
    </Row>
  </Container>
</div>

<style>
  div {
    font-family: monospace;
    padding: 1em 0em;
    width: inherit;
  }
</style>
