<script lang="ts">
  import { Col, Container, Row } from "sveltestrap";
  import { State } from "../engine/GameContext";
  import ClickAction from "./components/ClickAction.svelte";

  const pct = (value: number, places: number = 2): number => {
    const accuracy = Math.pow(10, places);
    const percent = Math.floor(value * 100 * accuracy) / accuracy;

    return percent;
  };
</script>

<main>
  <Container fluid>
    <Row>
      <Col>
        <span>XP:</span>
        <span>{$State.player.xp}</span>
      </Col>
    </Row>
    <Row>
      <Col>Attack:</Col>
      <Col>
        {$State.player.attack.damage} @ {pct($State.player.attack.toHit)}%
      </Col>
    </Row>
    {#if $State.player.autoAttack.damage > 0}
      <Row>
        <Col>Auto-Attack:</Col>
        <Col>
          {$State.player.autoAttack.damage} @ {pct(
            $State.player.autoAttack.toHit
          )}% per sec
        </Col>
      </Row>
    {/if}
    <hr />
    <Row>
      <Col>
        <span>Actions:</span>
      </Col>
    </Row>
    <Row>
      <Col>
        <ClickAction on:message action="attack">Attack</ClickAction>
      </Col>
    </Row>
    <hr />
    <Row>
      <Col>
        <span>Upgrades:</span>
      </Col>
    </Row>
    <Row>
      {#if $State.player.xp >= 15}
        <Col>
          <ClickAction on:message action="upgrade">Auto&nbsp;Attack</ClickAction
          >
        </Col>
      {/if}
    </Row>
  </Container>
</main>

<style>
  main {
    font-family: monospace;
    padding: 1em 0em;
  }
</style>
