<script lang="ts">
  import { createEventDispatcher } from "svelte";
  import { Button } from "sveltestrap";

  export let action: string;
  const dispatch = createEventDispatcher();

  const attack = () => {
    dispatch("message", {
      action: action,
    });
  };
</script>

<Button on:click={attack}><slot /></Button>
