:root {
	--background: #1B264F;
	--text: #F5F3F5;
	--links: #6b87d3;
	--header: #e5e8b6;
}

html,
body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: var(--text);
	background-color: var(--background);
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a,
a:visited {
	color: var(--links);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* a:visited {
	color: var(--text);
} */

label {
	display: block;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}