<script lang="ts">
  import { Col, Container, Row } from "sveltestrap";
  import { State } from "./engine/GameContext";
  import { gameLogic } from "./engine/GameLogic";

  import type { Emission } from "./engine/Types";

  import Timer from "./ui/components/Timer.svelte";
  import IncrementalElementView from "./ui/IncrementalElementView.svelte";
  import PlayerStatusView from "./ui/PlayerStatusView.svelte";

  let viewImage: string;

  const clickRoutine = (event: CustomEvent<any>) => {
    // console.log("message", event.detail, "action" in event.detail);
    if ("action" in event.detail) {
      emitHandler(gameLogic.handleClick(event.detail.action, $State));
    }
  };

  const emitHandler = (emit: Emission) => {
    if ("updateImage" in emit && emit.updateImage.src) {
      viewImage = emit.updateImage.src;
    }
    if ("itDied" in emit && emit.itDied) {
      setTimeout(nextMonster, 250);
    }
  };

  const init = () => {
    viewImage = "ded.svg";
    nextMonster();
  };

  const nextMonster = () => {
    const { emit, newState } = gameLogic.newMonster($State);
    State.set(newState);
    emitHandler(emit);
  };

  init();
</script>

<main>
  <Timer tickInterval={1} on:message={clickRoutine} />
  <Container fluid>
    <Row>
      <Col xs="4">
        <PlayerStatusView on:message={clickRoutine} />
      </Col>
      <Col>
        <IncrementalElementView imgSrc={viewImage} />
      </Col>
    </Row>
    <Row>
      <Col>
        <hr />
        <p>
          Find the source for this project on
          <a href="https://gitlab.com/bhamlin/the-horror-in-the-cellar"
            >GitLab</a
          >.
        </p>
      </Col>
    </Row>
  </Container>
</main>
